# Frontend

VITE_RECAPTCHA_SITE_KEY=

# Backend
PORT=3001
FRONTEND_ORIGIN=http://localhost:5173
RECAPTCHA_SECRET_KEY=
RECAPTCHA_ACTION=contact
RECAPTCHA_SCORE_THRESHOLD=0.5
SENDGRID_API_KEY=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=
